<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap-4.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../templates/users/template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- Top Nav Bar  -->

    <div class="topnav" id="myTopnav">
        <img id="kitchenLogo" src="../../images/Redlogo.png" alt="Chow kitchen logo">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
            </li>
        </ul>

        <!-- <div> -->
        <!-- profile section -->

        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"> -->
        <!-- <i class="fa fa-bars"></i> -->
        </a>
    </div>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 id="welcomemsg">Welcome </h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#kitchenSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My
                        Kitchen</a>
                    <ul class="collapse list-unstyled" id="kitchenSubmenu">
                        <li>
                            <a href="kitchen-dashboard.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="kitchen-manage-menu.html">Manage Menu</a>
                        </li>
                        <li>
                            <a href="kitchen-manage-meals.html">Manage Meals</a>
                        </li>
                        <li>
                            <a href="kitchen-user-feedback.html">User Feedback</a>
                        </li>
                        <li>
                            <a href="../../index.html">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div id="content">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div>
            </nav>
        </div>
        <!-- <div id="content">
            <!<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div id="content">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button> -->
        <!-- <div>
                <!-- </nav> -->
        <!-- Page Content -->

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <H1>Make Your Order</H1>
                    <p> 20-25 Nov 2018, Week 3</p>
                </div>
                <div class="col-md-6">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Preference
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Vegetarian</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Days of the week -->
            <!-- Centered Tabs -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified">
                        <li> <button class="pillbutton">Monday</button></li>
                        <li> <button class="pillbutton active">Tuesday</button></li>
                        <li> <button class="pillbutton">Wednesday</button></li>
                        <li> <button class="pillbutton">Thursday</button></li>
                        <li> <button class="pillbutton">Friday</button></li>
                    </ul>
                </div>
            </div>
            <br>
            <!-- Select Meals -->
            <div class="row">
                <div class="col-md-12">
                    <p>Please select Your Meal for the day</p>
                </div>
            </div>

            <!-- Picture Grid s-->
            <!-- option 1 -->
            <div class="row">
                <div class="col-md-4">
                    <div class="meal-banner">Lunch Option 1</div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../images/IMG_1413.JPG" alt="Breakfast">
                        <div class="card-body">
                            <h5 class="card-title">Oats, eggs, bread and Fruit</h5>
                            <p class="card-text">Food description to be auto populated from database based on what
                                was loaded in the database</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                                <label class="form-check-label" for="materialChecked2">Select</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="thumbnail">
                        <a href="/w3images/lights.jpg">
                            <img src="../../images/Eggs.png" alt="Breakfast" class="img-responsive pics ">
                            <div class="caption">
                                <!-- <p class="txt_format">Lunch Option 1.</p> -->
                <!-- Material checked -->
                <!-- <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                                    <label class="form-check-label" for="materialChecked2">Lunch Option 1</label>
                                </div>
                            </div>
                        </a> -->

                <!-- option 2 -->
                <div class="col-md-4">
                    <div class="meal-banner">Lunch Option 2</div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../images/IMG_1413.JPG" alt="Breakfast">
                        <div class="card-body">
                            <h5 class="card-title">Oats, eggs, bread and Fruit</h5>
                            <p class="card-text">Food description to be auto populated from database based on what
                                was loaded in the database</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                                <label class="form-check-label" for="materialChecked2">Select</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="thumbnail">
                        <a href="/w3images/lights.jpg">
                            <img src="../../images/Eggs.png" alt="Breakfast" class="img-responsive pics ">
                            <div class="caption"> -->
                    <!-- <p class="txt_format">Lunch Option2 .</p> -->
                    <!-- Material checked -->
                    <!-- <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                                    <label class="form-check-label" for="materialChecked2">Lunch Option 2</label>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>
                <!-- option 3 -->
                <div class="col-md-4">
                    <div class="meal-banner">Dinner</div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../images/IMG_1413.JPG" alt="Breakfast">
                        <div class="card-body">
                            <h5 class="card-title">Oats, eggs, bread and Fruit</h5>
                            <p class="card-text">Food description to be auto populated from database based on what
                                was loaded in the database</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                                <label class="form-check-label" for="materialChecked2">Select</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <p class="txt_format">Dinner</p> -->
                <!-- Material checked -->
                <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                    <label class="form-check-label" for="materialChecked2">Dinner</label>
                </div> -->
            </div>

            </a>
        </div>
    </div>
    </div>
    <!-- unselect all button -->
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown">
                <button class="btn" class="btn_white" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Unselect all
                </button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Order Button -->
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown">
                <button class="btn btn-secondary " type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Order
                </button>
            </div>
        </div>
    </div>
    </div>
</body>

</html>